<<<<<<< HEAD

/* main wrapper container for shimeji object */
.shimeji-container {
    background-image: url(./images/shime1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
=======

/* main wrapper container for shimeji object */
.shimeji-container {
    background-image: url(./images/shime1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
>>>>>>> 49a9a1531116b6f4833a4b924728cfea90e101db
}